$hCenter: 0 auto;
$vCenter: auto 0;
$mediu: 830px;
$mic: 480px;
$mainFont: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
html{
	font-family: $mainFont;
	margin: 0;
	height:100%;
	overflow-x: hidden;
  overflow-y: scroll;
}
body {
	position: relative;
	// background-color: red;
	width: 100%;
	height: 100%;
	// background-image: url('../../img/DSC08893.jpg');
	// background-repeat: no-repeat;
	// background-size: cover;
	// background-position: center top;
    //background-attachment: fixed;
		margin: 0;
}
header{
	height: 100%;
	//background-image: url('../../img/DSC08893.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
  background-attachment: fixed;
		margin: 0;
}

	//background images and text
	.cb-slideshow{
		margin: 0;
	}
	.cb-slideshow li{
		list-style: none;
	}
	.cb-slideshow li .mainBckImageSpan {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0px;
		left: 0px;
		color: transparent;
	  background-size: 100%;
	  background-position: 50% 70%;
	  background-repeat: no-repeat;
	  background-attachment: fixed;
	  opacity: 0;
	  z-index: -1;
		-webkit-backface-visibility: hidden;
		-webkit-animation: imageAnimation 60s linear infinite 0s;
		-moz-animation: imageAnimation 60s linear infinite 0s;
		-o-animation: imageAnimation 60s linear infinite 0s;
		-ms-animation: imageAnimation 60s linear infinite 0s;
		animation: imageAnimation 60s linear infinite 0s;
	}
	.cb-slideshow li .mainBckImageDiv {
	    z-index: -1;
	    position: absolute;
	    bottom: 30px;
	    left: 0px;
	    width: 100%;
			height: 80%;
	    text-align: center;
	    opacity: 0;
	    color: #fff;
	    -webkit-animation: titleAnimation 60s linear infinite 0s;
	    -moz-animation: titleAnimation 60s linear infinite 0s;
	    -o-animation: titleAnimation 60s linear infinite 0s;
	    -ms-animation: titleAnimation 60s linear infinite 0s;
	    animation: titleAnimation 60s linear infinite 0s;
	}

	.cb-slideshow li .mainBckImageDiv h3 {
	    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
	    font-size: 100px;
	    padding: 0;
	    line-height: 100px;
	}
	.cb-slideshow li:nth-child(1) .mainBckImageSpan {
	    background-image: url(../../img/DSC08893.jpg)
	}
	.cb-slideshow li:nth-child(2) .mainBckImageSpan {
	    background-image: url(../../img/calimani2.jpg);
	    -webkit-animation-delay: 10s;
	    -moz-animation-delay: 10s;
	    -o-animation-delay: 10s;
	    -ms-animation-delay: 10s;
	    animation-delay: 10s;
	}
	.cb-slideshow li:nth-child(3) .mainBckImageSpan {
	    background-image: url(../../img/DSC08803.jpg);
	    -webkit-animation-delay: 20s;
	    -moz-animation-delay: 20s;
	    -o-animation-delay: 20s;
	    -ms-animation-delay: 20s;
	    animation-delay: 20s;
	}
	.cb-slideshow li:nth-child(4) .mainBckImageSpan {
	    background-image: url(../../img/IMG_7718-2.jpg);
	    -webkit-animation-delay: 30s;
	    -moz-animation-delay: 30s;
	    -o-animation-delay: 30s;
	    -ms-animation-delay: 30s;
	    animation-delay: 30s;
	}
	.cb-slideshow li:nth-child(5) .mainBckImageSpan {
	    background-image: url(../../img/Noapte6.jpg);
	    -webkit-animation-delay: 40s;
	    -moz-animation-delay: 40s;
	    -o-animation-delay: 40s;
	    -ms-animation-delay: 40s;
	    animation-delay: 40s;
	}
	.cb-slideshow li:nth-child(6) .mainBckImageSpan {
	    background-image: url(../../img/platforma4.jpg);
	    -webkit-animation-delay: 50s;
	    -moz-animation-delay: 50s;
	    -o-animation-delay: 50s;
	    -ms-animation-delay: 50s;
	    animation-delay: 50s;
	}
	.cb-slideshow li:nth-child(2) .mainBckImageDiv {
	    -webkit-animation-delay: 10s;
	    -moz-animation-delay: 10s;
	    -o-animation-delay: 10s;
	    -ms-animation-delay: 10s;
	    animation-delay: 10s;
	}
	.cb-slideshow li:nth-child(3) .mainBckImageDiv {
	    -webkit-animation-delay: 20s;
	    -moz-animation-delay: 20s;
	    -o-animation-delay: 20s;
	    -ms-animation-delay: 20s;
	    animation-delay: 20s;
	}
	.cb-slideshow li:nth-child(4) .mainBckImageDiv {
	    -webkit-animation-delay: 30s;
	    -moz-animation-delay: 30s;
	    -o-animation-delay: 30s;
	    -ms-animation-delay: 30s;
	    animation-delay: 30s;
	}
	.cb-slideshow li:nth-child(5) .mainBckImageDiv {
	    -webkit-animation-delay: 40s;
	    -moz-animation-delay: 40s;
	    -o-animation-delay: 40s;
	    -ms-animation-delay: 40s;
	    animation-delay: 40s;
	}
	.cb-slideshow li:nth-child(6) .mainBckImageDiv {
	    -webkit-animation-delay: 50s;
	    -moz-animation-delay: 50s;
	    -o-animation-delay: 50s;
	    -ms-animation-delay: 50s;
	    animation-delay: 50s;
	}


	@keyframes imageAnimation {
		0% {
		    opacity: 0;
		    animation-timing-function: ease-in;
		}
		8% {
		    opacity: 1;
		    transform: scale(1.05);
		    animation-timing-function: ease-out;
		}
		17% {
		    opacity: 1;
		    transform: scale(1.3);
				-webkit-transform-origin : 50% 100%;
		    -moz-transform-origin : 50% 100%;
		    -o-transform-origin : 50% 100%;
		    -ms-transform-origin : 50% 100%;
		    transform-origin : 50% 100%;
		}
		25% {
		    opacity: 0;
		    transform: scale(1.3);
		}
		100% { opacity: 0 }
	}

	@keyframes titleAnimation {
		0% {
		    opacity: 0;
		    -webkit-transform: translateY(200px);
		}
		8% {
		    opacity: 1;
		    -webkit-transform: translateY(0px);
		}
		17% {
		    opacity: 1;
		    -webkit-transform: scale(1);
		}
		19% { opacity: 0 }
		25% {
		    opacity: 0;
		    -webkit-transform: scale(10);
		}
		100% { opacity: 0 }
	}


	nav{

		background-color: rgba(255, 238, 221, .2);
		//opacity: 0.5;
		height: 50px;
		transition: all 1s;
	}
	.scrolledNavBar{
		height: 30px;
		position: fixed;
		width: 100%;
		z-index: 10000;
		background-color: rgba(56, 64, 79, .6);
		transition: all 1s;
	}
	.scrolledNavBar #mainNav {
		height: 100%;
		float: right;
		width: 700px;
		//margin-top: 10%;
	}
	.scrolledNavBar #mainNav a{
		color: rgba(249, 251, 255, .5);
	}
	.scrolledNavBar #mainNav a div {
	    line-height: 30px;
			transition: all 1s;
	}

	#mainNav {

		height: 100%;
		float: right;
		width: 700px;
		//margin-top: 10%;
	}
	#mainNav a{
		float: left;
		text-decoration: none;
		width: 16.66%;
		height: 100%;
		text-align: center;
		color: #fff;
		//background: #0085a1;
		text-shadow: none;
		font-size: 15px;
		font-weight: 800;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
	#mainNav a:hover, #logo:hover{
		color: rgba(255,255,255,.5);
		//background-color: rgba(255, 238, 221, .3);
		border-radius: 20px;
		transition: all .5s;
	}
	#mainNav a div{
		// margin:$vCenter;
		height: 100%;
		line-height: 50px;
		transition: all 1s;
	}
	#logo {
		height: 100%;
		width: 80px;
		// border: 2px solid black;
		// border-radius: 50%;
		margin: 0 25px;
		padding: 0;
		// margin-top: 10%;
	}
	#logo img {
		height: 100%;
		margin: auto;
	}
	.headerContent{
		height: 70%;
		width: 100%;
	}

.container{
	//height:100%;
	//position: relative;
}

#section{
	.gallx{
		overflow: hidden;
		//position: absolute;
	}
	.galleryLinks{
		width: 33.33%;
		height: 100%;
		float:left;
		filter: grayscale(100%);
		margin-top: -5px;
	}
	//modificat din 120% in 100%
	.galleryLinks img{
		width: 100%;
		height: 100%;
	}
	.galScrolled{
		width: 100%;
		height: 100%;
		transition: 3s;
	}
	.galleryLinks:hover{
		filter: initial;
		transform: scale(1.05);
		transition: 1s;
		z-index: 1;
	}
	.qwe:after {
	    content: '';
	    display: block;
	    clear: both;
	}



	#bridge{
		position: relative;
	  margin-top: -5px;
		height:500px;
		overflow: hidden;
	}
	// .firstBridge{
	// 	margin-top: -5px;
	// 	height:100%;
	// 	background-image: url('../../img/DSC00172-2.jpg');
	// 	background-repeat: no-repeat;
	// 	background-size: cover;
	// 	background-position: center center;
	// 	background-attachment: fixed;
	// //position: absolute;
	// }
	// .firstBridgeB{
	// 	background-size: 150%;
	// 	-webkit-transition: all 10s ease-out;
	//     -moz-transition: all 10s ease-out;
	//     -o-transition: all 10s ease-out;
	// 	transition: all 10s ease-out;
	// }
	// .firstBridge:hover{
	// transform: scale(1.5);
	// transition: 10s;
	// }
	#bridgeUl {
	    height: 100%;
	    width: 100%;

	    padding: 0;
	}

	#bridgeUl li {
		position: absolute;
	    height: 100%;
	    width: 100%;
	}
	.cb-slideshow li .bridgeBckImageSpan {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0px;
		left: 0px;
		color: transparent;
	  background-size: 100%;
	  background-position: 50% 80%;
	  background-repeat: no-repeat;
	  background-attachment: fixed;
	  opacity: 0;
	  z-index: -1;
		-webkit-backface-visibility: hidden;
		-webkit-animation: imageAnimationB 70s linear infinite 0s;
		-moz-animation: imageAnimationB 70s linear infinite 0s;
		-o-animation: imageAnimationB 70s linear infinite 0s;
		-ms-animation: imageAnimationB 70s linear infinite 0s;
		animation: imageAnimationB 70s linear infinite 0s;
	}

	.cb-slideshow li:nth-child(1) .bridgeBckImageSpan {
	    background-image: url(../../img/DSC00172-2.jpg)
	}
	.cb-slideshow li:nth-child(2) .bridgeBckImageSpan {
	    background-image: url(../../img/Noapte2.jpg);
	    -webkit-animation-delay: 10s;
	    -moz-animation-delay: 10s;
	    -o-animation-delay: 10s;
	    -ms-animation-delay: 10s;
	    animation-delay: 10s;
	}
	.cb-slideshow li:nth-child(3) .bridgeBckImageSpan {
	    background-image: url(../../img/rarau1.jpg);
	    -webkit-animation-delay: 20s;
	    -moz-animation-delay: 20s;
	    -o-animation-delay: 20s;
	    -ms-animation-delay: 20s;
	    animation-delay: 20s;
	}
	.cb-slideshow li:nth-child(4) .bridgeBckImageSpan {
	    background-image: url(../../img/Noapte3.jpg);
	    -webkit-animation-delay: 30s;
	    -moz-animation-delay: 30s;
	    -o-animation-delay: 30s;
	    -ms-animation-delay: 30s;
	    animation-delay: 30s;
	}
	.cb-slideshow li:nth-child(5) .bridgeBckImageSpan {
	    background-image: url(../../img/Noapte6.jpg);
	    -webkit-animation-delay: 40s;
	    -moz-animation-delay: 40s;
	    -o-animation-delay: 40s;
	    -ms-animation-delay: 40s;
	    animation-delay: 40s;
	}
	.cb-slideshow li:nth-child(6) .bridgeBckImageSpan {
	    background-image: url(../../img/colibita2.jpg);
	    -webkit-animation-delay: 50s;
	    -moz-animation-delay: 50s;
	    -o-animation-delay: 50s;
	    -ms-animation-delay: 50s;
	    animation-delay: 50s;
	}
	.cb-slideshow li:nth-child(7) .bridgeBckImageSpan {
	    background-image: url(../../img/Noapte1.jpg);
	    -webkit-animation-delay: 60s;
	    -moz-animation-delay: 60s;
	    -o-animation-delay: 60s;
	    -ms-animation-delay: 60s;
	    animation-delay: 60s;
	}

	@keyframes imageAnimationB {
		0% {
		    opacity: 0;
		    animation-timing-function: ease-in;
		}
		8% {
		    opacity: 1;
		    transform: scale(1.05);
		    animation-timing-function: ease-out;
		}
		17% {
		    opacity: 1;
		    transform: scale(1.2);
				-webkit-transform-origin : 50% 100%;
		    -moz-transform-origin : 50% 100%;
		    -o-transform-origin : 50% 100%;
		    -ms-transform-origin : 50% 100%;
		    transform-origin : 50% 100%;
		}
		25% {
		    opacity: 0;
		    transform: scale(1.3);
		}
		100% { opacity: 0 }
	}





	#about{
		//position: absolute;
	}
	#about h2{
		text-transform: uppercase;
		text-align: center;
	}
	#about p{
		padding: 20px 50px;
	}
	.brAbout{
		height: 300px;
		background-image: url('../../img/Calimani1.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center top;
		margin: 0 50px;
		//background-attachment: fixed;
	}
	#secondBridge {
		height:500px;
		background-image: url('../../img/DSC00303.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center top;
		background-attachment: fixed;
	}
	#icons{
		width: 100%;
		height: 100%;
		//position: absolute;
		// overflow: auto;
	}
	.clearFix{
		clear: both;
	}
	.icon{
		width: 33.33%;
		height: 33.33%;
		float:left;
	}
	// .iconImgHide{
	// 	opacity: 0;
	// 	transition: 1s;
	// 	z-index:-1;
	// }
	.icon img{
		width: 100%;
	}
	.imagesCont{
		height:100%;
		margin-top: -100%;
		opacity: 0;
		overflow: hidden;
	}
	// .showImagesCont{
	// 	opacity:1;
	// 	transition:opacity 1.5s linear, max-height 1.5s linear;
	// 	 z-index: 100;
	// }
	.icon:hover{
		.iconImg{
			visibility: hidden;
			transition: all 2s;
			// z-index: -10000;
		}
		.imagesCont, .images{
				opacity: 1;
				transition: all 2s;
		}
		//
		// .images:hover{
		// 	.images{
		// 		z-index: 100000;
		// 	}
		// }
	}
	.images{
		height: 33.33%;
		width: 33.33%;
		float: left;
	}
	#icons .images img{
		object-fit: cover;
		width: 9rem;
		height: 6rem;
		    margin-top: -4px;
	}
	#icons:after {
	    content: '';
	    display: block;
	    clear: both;
	}
	//Modal
	.modal{
	    display: none;
	    position: fixed;
	    z-index: 100000000000;
	    padding-top: 100px;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: 100%;
	    overflow: auto;
	    background-color: rgb(0,0,0);
	    background-color: rgba(0,0,0,0.9);
	}
	.closeModal{
		position: absolute;
		top: 45px;
		right: 45px;
		color: #f1f1f1;
		font-size: 40px;
		font-weight: bold;
		transition: 0.3s;
		float: right;
		line-height: 1;
		text-shadow: 0 1px 0 #fff;
		opacity: .5;
		cursor: pointer;
		font-family: cursive;
	}
	.closeModal{
	    &:before, &:after {
	        $width: 50px;
	        $height: 10px;
	        transform: rotate(-45deg);
	        content: '';
	        position: absolute;
	        top: 50%;
	        right: 50%;
	        margin-top: -$height/2;
	        margin-right: -$width/2;
	        display: block;
	        height: $height;
	        width: $width;
	        background-color: #fff;
	        transition: all 0.25s ease-out;
	    }

	    &:after {
	        transform: rotate(-135deg);
	    }

	    &:hover {

	        &:before, &:after {
	            transform: rotate(0deg);
	        }
	    }
	}

	.modalImg{
		position: relative;
		margin: auto;
	    display: block;
	    max-height: 80%;
	    max-width: 700px;
			flex-direction: column;
	    background-color: #fff;
	    background-clip: padding-box;
	    border: 1px solid rgba(0,0,0,.2);
	    border-radius: .3rem;
	    outline: 0;
	}
	.modalDescription{
		animation-name: zoom;
		animation-duration: 0.6s;
	    margin: auto;
	    display: block;
			min-height: 10%;
	}

	//Contact:
	$textColor: rgb(209, 226, 255);
	#thirdBridge {
			height:800px;
			background-image: url('../../img/Ceahlau7.jpg');
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center top;
		  background-attachment: fixed;
			padding: 70px;
	}
	.thirdBridge{
		height: 100%;
	}
	.contactContainer{
		background-color: rgba(232, 237, 244, .2);
		height:100%;
		width:100%;
		border-radius: 10px;
	}
	.contactMe{
		color:$textColor;
		text-transform: uppercase;
		text-shadow: none;
		font-size: 25px;
		font-weight: 800;
		letter-spacing: 1px;
		margin: 0 auto;
		width: 100%;
		text-align: center;
		padding-top: 20px;
	}
	.contactSubtitle{
			color:$textColor;
			width: 100%;
			text-align: center;
			font-size: 18px;
			text-transform: uppercase;
			text-shadow: none;
			margin-top: 10px;
	}
	.contactSContainer{
		float:left;
		width: 100%;
	}
	.contactForms, .contactNoForms{
		float:left;
		width: 50%;
		padding: 30px;
		padding-top: 0;
		box-sizing: border-box;
	}
	.contTypeTitle{
		text-align: center;
				color:$textColor;
	}
	form{
		background-color: rgba(232, 237, 244, .5);
	}
	form *{
		border: none;
	}
	lebel {
		margin-left: 5%;
		margin-top: 2%;
	}
	.inputWrap{
		margin: 5px 0;
	}
	form input {
		width: 90%;
		height: 40px;
		margin: 0 5%;
	}
	textarea{
		height: 80px;
		width: 90%;
		margin: 0 5%;
	}
	.inputRadio input{
		width: 10px;
		height: 10px;
		margin: 0 5%;
	}
	.inputRadio lebel{
		margin-left: 0;
	}
	.inputBut{
		margin-bottom: 5%;
		border-radius: 5px;
	}
	.inputBut:hover{
		background-color: rgb(175, 199, 237);
	}
	.contactsBtns{
		color: $textColor;
		height:40px;
		width: 100%;
		border: 2px solid $textColor;
		border-radius: 10px;
		text-align: center;
		width: 250px;
		line-height: 40px;
		text-decoration: none;
		margin: auto;
	}
	.contactNoForms a{
		text-decoration: none;
	}
	.phone .contactsBtns{
		width: 150px;
	}
	.contactNoForms h5{
		width: 100%;
		text-align: center;
	}
	.socialCont{
		margin: 0 auto;
		width: 192px;
		height: 40px;
	}
	.socialM{
		width: 40px;
		line-height: 40px;
		float: left;
		text-align: center;
		margin: 0 10px;
	}
	.socialM img{
		margin: 8px;
		height: 20px;
	}
	#map{
		margin-top: 20px;
		width: 100%;
		height: 300px;
	}
}

footer{
	.footer{
		//z-index: 10;
		height: 45px;
		line-height: 45px;
		padding-left: 30px;
	}
	.social {
		// position:absolute;
		// bottom: 2px;
		float: right;
		margin-right: 30px;
	}
	.social img{
		margin: 10px
	}
	.footer p {
		text-align: center;
	}
	.footer p a{
	text-decoration: none;
	}
}


@media only screen and (max-width: $mediu){
	.hideMenu {
		display: none;
	}
	.showMenu {
		display: block;
	}
	#menuButton {
		height: 20px;
		width: 20px;
		margin: 15px 20px 15px;
		background-image: url('../../img/menu.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center top;
		float: right;
	}
	.scrolledNavBar #menuButton{
		height: 24px;
		margin: 3px 15px;
	}
	#mainNav {
		width: 100%;
		height: 180px;
		background-color: rgba(146, 156, 170, .5);
		position: absolute;
		top: 50px;
	}
	.scrolledNavBar #mainNav {
		width: 100%;
		height: 180px;
		background-color: rgba(146, 156, 170, .5);
		position: absolute;
		top: 30px;
	}
	#mainNav .menuButton{
		line-height: 30px;
	}
	#mainNav a{
		width: 100%;
		height: 30px;
	}
	//de folosit pentru meniu simplu:

	// #mainNav {
	// 	width: 80%;
	// 	font-size: 3px;
	// 	//margin-top: 10%;
	// }
	.galleryLinks{
		width: 50%;
	}
	.icon{
		width: 50%;
		height: 50%;
	}
	.cb-slideshow li div h3 { font-size: 60px }
	#thirdBridge {
    height: 1500px;
	}
	.contactForms, .contactNoForms{
		width: 100%;
	}
}
@media only screen and (max-width: $mic){
	.hideMenu {
		display: none;
	}
	.showMenu {
		display: block;
	}
	#menuButton {
		height: 20px;
		width: 20px;
		margin: 15px 20px 15px;
		background-image: url('../../img/menu.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center top;
		float: right;
	}
	.menuButton{
		line-height: 30px;
	}
	#mainNav {
		width: 100%;
		height: 180px;
		background-color: rgba(146, 156, 170, .5);
		position: absolute;
		top: 50px;
	}
	#mainNav a{
		width: 100%;
		height: 30px;
	}
	.galleryLinks{
		width: 100%;
	}
	.cb-slideshow li .mainBckImageSpan{
		background-size: auto;
	}
	.cb-slideshow li .bridgeBckImageSpan{
		background-size: auto;
	}
	.icon{
		width: 100%;
		height: 100%;
	}

	.cb-slideshow li div h3 { font-size: 40px }
}
#scrollBtn{
	margin-bottom: 5%;
	margin-left: 50%;

}
//scroll animation
.jos
{
  display: block;
  width: 15px;
  height: 15px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);

  border-right: 4px solid white;
  border-bottom: 4px solid white;
  margin: 0 0 3px 6px;
}

.unu
{
  margin-top: 6px;
}

.unu, .doi, .trei
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
}

.unu
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
}

.doi
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
}

.trei
{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
}

@-moz-keyframes mouse-wheel
{
  0% { top: 1px; }
  50% { top: 2px; }
  100% { top: 3px;}
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
