html {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll; }

body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0; }

header {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  margin: 0; }

.cb-slideshow {
  margin: 0; }

.cb-slideshow li {
  list-style: none; }

.cb-slideshow li .mainBckImageSpan {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: 100%;
  background-position: 50% 70%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
  -webkit-animation: imageAnimation 60s linear infinite 0s;
  -moz-animation: imageAnimation 60s linear infinite 0s;
  -o-animation: imageAnimation 60s linear infinite 0s;
  -ms-animation: imageAnimation 60s linear infinite 0s;
  animation: imageAnimation 60s linear infinite 0s; }

.cb-slideshow li .mainBckImageDiv {
  z-index: -1;
  position: absolute;
  bottom: 30px;
  left: 0px;
  width: 100%;
  height: 80%;
  text-align: center;
  opacity: 0;
  color: #fff;
  -webkit-animation: titleAnimation 60s linear infinite 0s;
  -moz-animation: titleAnimation 60s linear infinite 0s;
  -o-animation: titleAnimation 60s linear infinite 0s;
  -ms-animation: titleAnimation 60s linear infinite 0s;
  animation: titleAnimation 60s linear infinite 0s; }

.cb-slideshow li .mainBckImageDiv h3 {
  font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
  font-size: 100px;
  padding: 0;
  line-height: 100px; }

.cb-slideshow li:nth-child(1) .mainBckImageSpan {
  background-image: url(../../img/DSC08893.jpg); }

.cb-slideshow li:nth-child(2) .mainBckImageSpan {
  background-image: url(../../img/calimani2.jpg);
  -webkit-animation-delay: 10s;
  -moz-animation-delay: 10s;
  -o-animation-delay: 10s;
  -ms-animation-delay: 10s;
  animation-delay: 10s; }

.cb-slideshow li:nth-child(3) .mainBckImageSpan {
  background-image: url(../../img/DSC08803.jpg);
  -webkit-animation-delay: 20s;
  -moz-animation-delay: 20s;
  -o-animation-delay: 20s;
  -ms-animation-delay: 20s;
  animation-delay: 20s; }

.cb-slideshow li:nth-child(4) .mainBckImageSpan {
  background-image: url(../../img/IMG_7718-2.jpg);
  -webkit-animation-delay: 30s;
  -moz-animation-delay: 30s;
  -o-animation-delay: 30s;
  -ms-animation-delay: 30s;
  animation-delay: 30s; }

.cb-slideshow li:nth-child(5) .mainBckImageSpan {
  background-image: url(../../img/Noapte6.jpg);
  -webkit-animation-delay: 40s;
  -moz-animation-delay: 40s;
  -o-animation-delay: 40s;
  -ms-animation-delay: 40s;
  animation-delay: 40s; }

.cb-slideshow li:nth-child(6) .mainBckImageSpan {
  background-image: url(../../img/platforma4.jpg);
  -webkit-animation-delay: 50s;
  -moz-animation-delay: 50s;
  -o-animation-delay: 50s;
  -ms-animation-delay: 50s;
  animation-delay: 50s; }

.cb-slideshow li:nth-child(2) .mainBckImageDiv {
  -webkit-animation-delay: 10s;
  -moz-animation-delay: 10s;
  -o-animation-delay: 10s;
  -ms-animation-delay: 10s;
  animation-delay: 10s; }

.cb-slideshow li:nth-child(3) .mainBckImageDiv {
  -webkit-animation-delay: 20s;
  -moz-animation-delay: 20s;
  -o-animation-delay: 20s;
  -ms-animation-delay: 20s;
  animation-delay: 20s; }

.cb-slideshow li:nth-child(4) .mainBckImageDiv {
  -webkit-animation-delay: 30s;
  -moz-animation-delay: 30s;
  -o-animation-delay: 30s;
  -ms-animation-delay: 30s;
  animation-delay: 30s; }

.cb-slideshow li:nth-child(5) .mainBckImageDiv {
  -webkit-animation-delay: 40s;
  -moz-animation-delay: 40s;
  -o-animation-delay: 40s;
  -ms-animation-delay: 40s;
  animation-delay: 40s; }

.cb-slideshow li:nth-child(6) .mainBckImageDiv {
  -webkit-animation-delay: 50s;
  -moz-animation-delay: 50s;
  -o-animation-delay: 50s;
  -ms-animation-delay: 50s;
  animation-delay: 50s; }

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in; }
  8% {
    opacity: 1;
    transform: scale(1.05);
    animation-timing-function: ease-out; }
  17% {
    opacity: 1;
    transform: scale(1.3);
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%; }
  25% {
    opacity: 0;
    transform: scale(1.3); }
  100% {
    opacity: 0; } }
@keyframes titleAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(200px); }
  8% {
    opacity: 1;
    -webkit-transform: translateY(0px); }
  17% {
    opacity: 1;
    -webkit-transform: scale(1); }
  19% {
    opacity: 0; }
  25% {
    opacity: 0;
    -webkit-transform: scale(10); }
  100% {
    opacity: 0; } }
nav {
  background-color: rgba(255, 238, 221, 0.2);
  height: 50px;
  transition: all 1s; }

.scrolledNavBar {
  height: 30px;
  position: fixed;
  width: 100%;
  z-index: 10000;
  background-color: rgba(56, 64, 79, 0.6);
  transition: all 1s; }

.scrolledNavBar #mainNav {
  height: 100%;
  float: right;
  width: 700px; }

.scrolledNavBar #mainNav a {
  color: rgba(249, 251, 255, 0.5); }

.scrolledNavBar #mainNav a div {
  line-height: 30px;
  transition: all 1s; }

#mainNav {
  height: 100%;
  float: right;
  width: 700px; }

#mainNav a {
  float: left;
  text-decoration: none;
  width: 16.66%;
  height: 100%;
  text-align: center;
  color: #fff;
  text-shadow: none;
  font-size: 15px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase; }

#mainNav a:hover, #logo:hover {
  color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  transition: all .5s; }

#mainNav a div {
  height: 100%;
  line-height: 50px;
  transition: all 1s; }

#logo {
  height: 100%;
  width: 80px;
  margin: 0 25px;
  padding: 0; }

#logo img {
  height: 100%;
  margin: auto; }

.headerContent {
  height: 70%;
  width: 100%; }

#section .gallx {
  overflow: hidden; }
#section .galleryLinks {
  width: 33.33%;
  height: 100%;
  float: left;
  filter: grayscale(100%);
  margin-top: -5px; }
#section .galleryLinks img {
  width: 100%;
  height: 100%; }
#section .galScrolled {
  width: 100%;
  height: 100%;
  transition: 3s; }
#section .galleryLinks:hover {
  filter: initial;
  transform: scale(1.05);
  transition: 1s;
  z-index: 1; }
#section .qwe:after {
  content: '';
  display: block;
  clear: both; }
#section #bridge {
  position: relative;
  margin-top: -5px;
  height: 500px;
  overflow: hidden; }
#section #bridgeUl {
  height: 100%;
  width: 100%;
  padding: 0; }
#section #bridgeUl li {
  position: absolute;
  height: 100%;
  width: 100%; }
#section .cb-slideshow li .bridgeBckImageSpan {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: 100%;
  background-position: 50% 80%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
  -webkit-animation: imageAnimationB 70s linear infinite 0s;
  -moz-animation: imageAnimationB 70s linear infinite 0s;
  -o-animation: imageAnimationB 70s linear infinite 0s;
  -ms-animation: imageAnimationB 70s linear infinite 0s;
  animation: imageAnimationB 70s linear infinite 0s; }
#section .cb-slideshow li:nth-child(1) .bridgeBckImageSpan {
  background-image: url(../../img/DSC00172-2.jpg); }
#section .cb-slideshow li:nth-child(2) .bridgeBckImageSpan {
  background-image: url(../../img/Noapte2.jpg);
  -webkit-animation-delay: 10s;
  -moz-animation-delay: 10s;
  -o-animation-delay: 10s;
  -ms-animation-delay: 10s;
  animation-delay: 10s; }
#section .cb-slideshow li:nth-child(3) .bridgeBckImageSpan {
  background-image: url(../../img/rarau1.jpg);
  -webkit-animation-delay: 20s;
  -moz-animation-delay: 20s;
  -o-animation-delay: 20s;
  -ms-animation-delay: 20s;
  animation-delay: 20s; }
#section .cb-slideshow li:nth-child(4) .bridgeBckImageSpan {
  background-image: url(../../img/Noapte3.jpg);
  -webkit-animation-delay: 30s;
  -moz-animation-delay: 30s;
  -o-animation-delay: 30s;
  -ms-animation-delay: 30s;
  animation-delay: 30s; }
#section .cb-slideshow li:nth-child(5) .bridgeBckImageSpan {
  background-image: url(../../img/Noapte6.jpg);
  -webkit-animation-delay: 40s;
  -moz-animation-delay: 40s;
  -o-animation-delay: 40s;
  -ms-animation-delay: 40s;
  animation-delay: 40s; }
#section .cb-slideshow li:nth-child(6) .bridgeBckImageSpan {
  background-image: url(../../img/colibita2.jpg);
  -webkit-animation-delay: 50s;
  -moz-animation-delay: 50s;
  -o-animation-delay: 50s;
  -ms-animation-delay: 50s;
  animation-delay: 50s; }
#section .cb-slideshow li:nth-child(7) .bridgeBckImageSpan {
  background-image: url(../../img/Noapte1.jpg);
  -webkit-animation-delay: 60s;
  -moz-animation-delay: 60s;
  -o-animation-delay: 60s;
  -ms-animation-delay: 60s;
  animation-delay: 60s; }
@keyframes imageAnimationB {
  0% {
    opacity: 0;
    animation-timing-function: ease-in; }
  8% {
    opacity: 1;
    transform: scale(1.05);
    animation-timing-function: ease-out; }
  17% {
    opacity: 1;
    transform: scale(1.2);
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%; }
  25% {
    opacity: 0;
    transform: scale(1.3); }
  100% {
    opacity: 0; } }
#section #about h2 {
  text-transform: uppercase;
  text-align: center; }
#section #about p {
  padding: 20px 50px; }
#section .brAbout {
  height: 300px;
  background-image: url("../../img/Calimani1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  margin: 0 50px; }
#section #secondBridge {
  height: 500px;
  background-image: url("../../img/DSC00303.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed; }
#section #icons {
  width: 100%;
  height: 100%; }
#section .clearFix {
  clear: both; }
#section .icon {
  width: 33.33%;
  height: 33.33%;
  float: left; }
#section .icon img {
  width: 100%; }
#section .imagesCont {
  height: 100%;
  margin-top: -100%;
  opacity: 0;
  overflow: hidden; }
#section .icon:hover .iconImg {
  visibility: hidden;
  transition: all 2s; }
#section .icon:hover .imagesCont, #section .icon:hover .images {
  opacity: 1;
  transition: all 2s; }
#section .images {
  height: 33.33%;
  width: 33.33%;
  float: left; }
#section #icons .images img {
  object-fit: cover;
  width: 9rem;
  height: 6rem;
  margin-top: -4px; }
#section #icons:after {
  content: '';
  display: block;
  clear: both; }
#section .modal {
  display: none;
  position: fixed;
  z-index: 100000000000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9); }
#section .closeModal {
  position: absolute;
  top: 45px;
  right: 45px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  float: right;
  line-height: 1;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  cursor: pointer;
  font-family: cursive; }
#section .closeModal:before, #section .closeModal:after {
  transform: rotate(-45deg);
  content: '';
  position: absolute;
  top: 50%;
  right: 50%;
  margin-top: -5px;
  margin-right: -25px;
  display: block;
  height: 10px;
  width: 50px;
  background-color: #fff;
  transition: all 0.25s ease-out; }
#section .closeModal:after {
  transform: rotate(-135deg); }
#section .closeModal:hover:before, #section .closeModal:hover:after {
  transform: rotate(0deg); }
#section .modalImg {
  position: relative;
  margin: auto;
  display: block;
  max-height: 80%;
  max-width: 700px;
  flex-direction: column;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: .3rem;
  outline: 0; }
#section .modalDescription {
  animation-name: zoom;
  animation-duration: 0.6s;
  margin: auto;
  display: block;
  min-height: 10%; }
#section #thirdBridge {
  height: 800px;
  background-image: url("../../img/Ceahlau7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  padding: 70px; }
#section .thirdBridge {
  height: 100%; }
#section .contactContainer {
  background-color: rgba(232, 237, 244, 0.2);
  height: 100%;
  width: 100%;
  border-radius: 10px; }
#section .contactMe {
  color: #d1e2ff;
  text-transform: uppercase;
  text-shadow: none;
  font-size: 25px;
  font-weight: 800;
  letter-spacing: 1px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding-top: 20px; }
#section .contactSubtitle {
  color: #d1e2ff;
  width: 100%;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  text-shadow: none;
  margin-top: 10px; }
#section .contactSContainer {
  float: left;
  width: 100%; }
#section .contactForms, #section .contactNoForms {
  float: left;
  width: 50%;
  padding: 30px;
  padding-top: 0;
  box-sizing: border-box; }
#section .contTypeTitle {
  text-align: center;
  color: #d1e2ff; }
#section form {
  background-color: rgba(232, 237, 244, 0.5); }
#section form * {
  border: none; }
#section lebel {
  margin-left: 5%;
  margin-top: 2%; }
#section .inputWrap {
  margin: 5px 0; }
#section form input {
  width: 90%;
  height: 40px;
  margin: 0 5%; }
#section textarea {
  height: 80px;
  width: 90%;
  margin: 0 5%; }
#section .inputRadio input {
  width: 10px;
  height: 10px;
  margin: 0 5%; }
#section .inputRadio lebel {
  margin-left: 0; }
#section .inputBut {
  margin-bottom: 5%;
  border-radius: 5px; }
#section .inputBut:hover {
  background-color: #afc7ed; }
#section .contactsBtns {
  color: #d1e2ff;
  height: 40px;
  width: 100%;
  border: 2px solid #d1e2ff;
  border-radius: 10px;
  text-align: center;
  width: 250px;
  line-height: 40px;
  text-decoration: none;
  margin: auto; }
#section .contactNoForms a {
  text-decoration: none; }
#section .phone .contactsBtns {
  width: 150px; }
#section .contactNoForms h5 {
  width: 100%;
  text-align: center; }
#section .socialCont {
  margin: 0 auto;
  width: 192px;
  height: 40px; }
#section .socialM {
  width: 40px;
  line-height: 40px;
  float: left;
  text-align: center;
  margin: 0 10px; }
#section .socialM img {
  margin: 8px;
  height: 20px; }
#section #map {
  margin-top: 20px;
  width: 100%;
  height: 300px; }

footer .footer {
  height: 45px;
  line-height: 45px;
  padding-left: 30px; }
footer .social {
  float: right;
  margin-right: 30px; }
footer .social img {
  margin: 10px; }
footer .footer p {
  text-align: center; }
footer .footer p a {
  text-decoration: none; }

@media only screen and (max-width: 830px) {
  .hideMenu {
    display: none; }

  .showMenu {
    display: block; }

  #menuButton {
    height: 20px;
    width: 20px;
    margin: 15px 20px 15px;
    background-image: url("../../img/menu.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    float: right; }

  .scrolledNavBar #menuButton {
    height: 24px;
    margin: 3px 15px; }

  #mainNav {
    width: 100%;
    height: 180px;
    background-color: rgba(146, 156, 170, 0.5);
    position: absolute;
    top: 50px; }

  .scrolledNavBar #mainNav {
    width: 100%;
    height: 180px;
    background-color: rgba(146, 156, 170, 0.5);
    position: absolute;
    top: 30px; }

  #mainNav .menuButton {
    line-height: 30px; }

  #mainNav a {
    width: 100%;
    height: 30px; }

  .galleryLinks {
    width: 50%; }

  .icon {
    width: 50%;
    height: 50%; }

  .cb-slideshow li div h3 {
    font-size: 60px; }

  #thirdBridge {
    height: 1500px; }

  .contactForms, .contactNoForms {
    width: 100%; } }
@media only screen and (max-width: 480px) {
  .hideMenu {
    display: none; }

  .showMenu {
    display: block; }

  #menuButton {
    height: 20px;
    width: 20px;
    margin: 15px 20px 15px;
    background-image: url("../../img/menu.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    float: right; }

  .menuButton {
    line-height: 30px; }

  #mainNav {
    width: 100%;
    height: 180px;
    background-color: rgba(146, 156, 170, 0.5);
    position: absolute;
    top: 50px; }

  #mainNav a {
    width: 100%;
    height: 30px; }

  .galleryLinks {
    width: 100%; }

  .cb-slideshow li .mainBckImageSpan {
    background-size: auto; }

  .cb-slideshow li .bridgeBckImageSpan {
    background-size: auto; }

  .icon {
    width: 100%;
    height: 100%; }

  .cb-slideshow li div h3 {
    font-size: 40px; } }
#scrollBtn {
  margin-bottom: 5%;
  margin-left: 50%; }

.jos {
  display: block;
  width: 15px;
  height: 15px;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  border-right: 4px solid white;
  border-bottom: 4px solid white;
  margin: 0 0 3px 6px; }

.unu {
  margin-top: 6px; }

.unu, .doi, .trei {
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite; }

.unu {
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate; }

.doi {
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate; }

.trei {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate; }

@-moz-keyframes mouse-wheel {
  0% {
    top: 1px; }
  50% {
    top: 2px; }
  100% {
    top: 3px; } }
@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0; }
  50% {
    opacity: .5; }
  100% {
    opacity: 1; } }
@-moz-keyframes mouse-scroll {
  0% {
    opacity: 0; }
  50% {
    opacity: .5; }
  100% {
    opacity: 1; } }
@-o-keyframes mouse-scroll {
  0% {
    opacity: 0; }
  50% {
    opacity: .5; }
  100% {
    opacity: 1; } }
@keyframes mouse-scroll {
  0% {
    opacity: 0; }
  50% {
    opacity: .5; }
  100% {
    opacity: 1; } }

/*# sourceMappingURL=bogdandima.css.map */
